<!DOCTYPE html>

<html>
  <head>
      <title>{{ page.title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>

      <nav>
          <h2>Apps</h2>
          <a href="dariusmontez.github.io/crafted">G-code sim - CRAFTED</a>
          <a href="dariusmontez.github.io/snapshot">Camera-tag game - Snapshot</a>
          <a href="dariusmontez.github.io/timer-app">5-second timer</a>
          <a href="dariusmontez.github.io/calculator-app">Android-like calculator app</a>
      </nav>

  </body>
</html>
